<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link href="../static/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsy Driving</title>
</head>
<body>
    <ul class="tabs">
        <!-- <li data-tab-target="#home" class="active tab">Home</li> -->
        <li data-tab-target="#why" class="tab">Why</li>
        <li data-tab-target="#how" class="tab">How</li>
        <li data-tab-target="#about" class="tab">About</li>
    </ul>

    <div class="dropdown-tabs">
        <div class="dropdown">
            <button class="dropbtn">Home</button>
            <div class="dropdown-content">
            <a href="#home">Home</a>
            <a href="#instructions">Instructions</a>
            <a href="#troubleshoot">Troubleshoot</a>
            </div>
        </div>
        <!-- <div class="dropdown">
            <button class="dropbtn">Home</button>
            <div class="dropdown-content">
            <a href="#home">Home</a>
            <a href="#instructions">Instructions</a>
            <a href="#troubleshoot">Troubleshoot</a>
            </div>
        </div> -->
        <div class="tab-content">
            <!-- <div id="home" data-tab-content class="active">
              <h1>Home</h1>
              <p>This is the home</p>
            </div> -->
            <div id="why" data-tab-content>
              <h1>Why</h1>
              <p>Why I did this project</p>
            </div>
            <div id="about" data-tab-content>
              <h1>About</h1>
              <p>Let me tell you about me</p>
            </div>
            <div id="how" data-tab-content>
                <h1>How</h1>
                <p>Let me tell you about my project</p>
              </div>
        </div>
    </div>
    <h1 id="home">Drowsy Driving Detector (DDD) plus: A Desktop App(Windows Only)</h1>
    <h2>This is the Drowsy detector</h2>
    <p>Make sure your computer has a speaker, microphone, and camera.</p>
    <h1 id="instructions">Instructions</h1>
    <h2>Version 1.0</h2>
    <a href="https://bitbucket.org/jjooaa/desktop-app/src/main/drowsysetup%20(1).exe">Download Drowsy-Detection-v1.0(Windows Only)</a>
    <h2>Version 2.0</h2>
    <a href="https://bitbucket.org/jjooaa/desktop-app/src/main/drowsyv2.0setup.exe">Download Drowsy-Detection-v2.0(Windows Only)</a>
    <h1 id="troubleshoot">Troubleshoot</h1>
    <a href="https://groups.google.com/u/1/g/drowsy-driving-app">Tell us about any issues</a>
</body>
</html>
