<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
</head>
<body>
    <h1>Drowsy Driving Detector (DDD) plus: A Desktop App(Windows Only)</h1>

    <h2>This is the Drowsy detector</h2>

    <p>Make sure your computer has a speaker, microphone, and camera.</p>

    <p>Version 1.0</p>

    <a href="https://github.com/jcat124/desktop-app/blob/main/drowsysetup%20(1).exe">Download Drowsy-Detection-v1.0(Windows Only)</a>

    <p>Press view raw or download and when downloaded follow the setup wizard and choose what you prefer.</p>
    
    <p>Your app is installed!</p>
    
    <p>Version 2.0</p>
    
    <a href="https://github.com/jcat124/desktop-app/blob/main/drowsyv2setup.exe">Download Drowsy-Detection-v2.0(Windows Only)</a>
    
</body>
</html>
