<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anti Drowsy Driving</title>
</head>
<body>
    <nav>
        <p>Anti Drowsy Driving</p>
        <ul>
            <li><a href="#home">Home</a>
                <ul>
                    <li><a href="#troubleshoot">Troubleshoot</a></li>
                    <li><a href="#instructions">Instructions</a></li>
                    <li><a href="#downloads">Download</a></li>
                </ul>
            </li>
            <li><a href="pages/why.html">Why</a></li>
            <li><a href="pages/how.html">How</a></li>
            <li><a href="pages/about.html">About</a></li>
        </ul>
    </nav>
    <div id="home">
        <h1>This is the anti drowsy detector(DDD)</h1>
    </div>  
    <div id="troubleshoot">
        <h1>Trubleshoot</h1>
    </div>
        <div id="instructions">
        <h1>Trubleshoot</h1>
    </div>
        <div id="download">
        <h1>Trubleshoot</h1>
    </div>
</body>
</html>
